<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/estilo.css" rel="stylesheet"/>
  <title>Adicionar Montadora</title>
</head>
<body>
  <h1>Adicionar Montadora</h1>
    <form action="/salvar_montadora" method="POST">
        <label for="Nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="País">País de Origem:</label>
        <input type="text" id="pais" name="pais" required><br><br>

        <label for="Ano">Ano de Fundação:</label>
        <input type="text" id="ano_fundacao" name="ano_fundacao" required><br><br>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>